---
layout: layout.njk
renderData:
  title: "Services"
---

<section class="hero gradient-light [ px-4 pt-4 pb-8 ][ bg-pink-light bg-cover bg-center bg-no-repeat ]" style="background-image: url('/assets/images/hero/hero-graphic.jpg">
  <div class="wrapper relative z-10">
    <div class="md:pt-2">
      <nav class="mb-8">
        <ul class="list-reset [ sm:flex flex-wrap items-center ]">
          <li class="inline-block sm:inline-flex items-center">
            <a href="/" class="text-gray hover:text-green font-base-semibold text-sm no-underline">Home</a>
            <span class="text-xs [ ml-2 ]">&gt;</span>
          </li>
          <li class="inline-block ml-2 sm:inline-flex items-center">
            <span class="text-green font-base-semibold text-sm">Services</span>
          </li>
        </ul>
      </nav>
            
      <h1 class="font-heading leading-tight text-navy text-4xl max-w-md [ md:text-5xl ]">Services</h1>
        <div class="cms-content mt-4 max-w-md">
          <p>At Castle Counselling Services we are offering a comprehensive and professional integrative counselling service. We are located in Ballycastle, which is a central location in the North Coast Area. We are both fully qualified counsellors with experience of working in primary health care settings. We can offer you a safe space to consider your issues, and you will be assured of a professional, confidential and ethical approach in our therapeutic work. </p>
        </div>
        
        <div class="[ bg-white border border-gray-light ][ rounded-lg shadow ][ flex flex-wrap ][ mt-8 ][ md:flex-no-wrap ][ max-w-xl ]">
          <a href="tel:07715926144" class="w-1/2 block flex items-center [ p-4 ][ no-underline ][ hover:bg-gray-pale ]">
            <svg width="33" height="33" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
              <title>Call Icon</title>
              <path d="M21.702 0C9.717 0 0 9.717 0 21.702c0 11.984 9.717 21.701 21.702 21.701 11.984 0 21.701-9.717 21.701-21.701C43.403 9.717 33.686 0 21.702 0zm11.46 31.665l-1.738 1.738c-.31.31-1.218.503-1.248.503a20.507 20.507 0 0 1-14.678-6 20.532 20.532 0 0 1-6.004-14.73c0-.002.2-.884.51-1.191l1.737-1.738c.636-.639 1.857-.927 2.713-.641l.365.122c.853.286 1.749 1.23 1.985 2.098l.874 3.208c.235.872-.082 2.112-.718 2.747l-1.16 1.16a12.324 12.324 0 0 0 8.665 8.669l1.16-1.16c.639-.64 1.878-.957 2.748-.722l3.207.877c.87.24 1.813 1.13 2.099 1.982l.122.37c.283.854-.003 2.075-.64 2.708z" fill="#6DC9C9" fill-rule="nonzero"></path>
            </svg>

            <div class="ml-4">
              <span class="block font-heading text-lg leading-tight text-navy">Call Louise</span>
              <span class="block text-pink text-sm tracking-wide">07715926144</span>
            </div>
          </a>

          <a href="tel:07513216489" class="w-1/2 block flex items-center [ p-4 ][ no-underline ][ hover:bg-gray-pale ][ border-l border-gray-light ]">
            <svg width="33" height="33" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
              <title>Call Icon</title>
              <path d="M21.702 0C9.717 0 0 9.717 0 21.702c0 11.984 9.717 21.701 21.702 21.701 11.984 0 21.701-9.717 21.701-21.701C43.403 9.717 33.686 0 21.702 0zm11.46 31.665l-1.738 1.738c-.31.31-1.218.503-1.248.503a20.507 20.507 0 0 1-14.678-6 20.532 20.532 0 0 1-6.004-14.73c0-.002.2-.884.51-1.191l1.737-1.738c.636-.639 1.857-.927 2.713-.641l.365.122c.853.286 1.749 1.23 1.985 2.098l.874 3.208c.235.872-.082 2.112-.718 2.747l-1.16 1.16a12.324 12.324 0 0 0 8.665 8.669l1.16-1.16c.639-.64 1.878-.957 2.748-.722l3.207.877c.87.24 1.813 1.13 2.099 1.982l.122.37c.283.854-.003 2.075-.64 2.708z" fill="#6DC9C9" fill-rule="nonzero"></path>
            </svg>

            <div class="ml-4">
              <span class="block font-heading text-lg leading-tight text-navy">Call Monica</span>
              <span class="block text-pink text-sm tracking-wide">07513216489</span>
            </div>
          </a>

          <a href="/costs" class="w-full block flex items-center [ p-4 ][ no-underline ][ border-t border-gray-light ][ hover:bg-gray-pale ][ md:border-l md:border-gray-light md:border-t-0 ]">
            <svg width="33" height="33" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
              <title>Cost Icon</title>
              <path d="M22 0C9.8 0 0 9.8 0 22s9.8 22 22 22 22-9.8 22-22S34.2 0 22 0zm8.7 33.9l-.2.1c-.7.4-1.7.9-3.5.9-.9 0-1.7-.2-2.4-.4-.9-.3-1.9-.6-3.6-.6-2.8 0-4.4.1-5.6.9-.1.1-.2.1-.3.1-.2 0-.3-.1-.4-.2L13 32.2c-.1-.1-.1-.2-.1-.3 0-.2.1-.3.2-.4 2.4-1.6 4.8-3.5 4.8-5.6 0-.4-.1-.9-.2-1.6 0-.2-.3-.4-.5-.4H14c-.6 0-1-.4-1-1v-2c0-.6.4-1 1-1h2.1c.3 0 .6-.3.5-.6-.1-.3-.2-.7-.3-1.1-.2-.7-.3-1.7-.3-2.3 0-3.9 3.1-7 7-7 3.5 0 6.3 2.5 6.9 5.8v.2c0 .6-.4 1-1 1h-2c-.4 0-.9-.4-1-.8-.4-1.3-1.5-2.2-2.9-2.2-1.7 0-3 1.3-3 3 0 .4.1.9.1 1.1.2.7.5 1.6.7 2.5.1.2.3.4.5.4H28c.6 0 1 .4 1 1v2c0 .6-.4 1-1 1h-5.6c-.3 0-.5.3-.5.6.1.5.1 1 .1 1.4 0 1.2-.3 2.3-.8 3.3-.2.4 0 .7.4.7 1.9.1 3.2.4 4.1.7.6.2 1 .3 1.3.3.8 0 1.1-.2 1.6-.4l.3-.2c.2-.1.5 0 .7.2l1.4 2.7c0 .1.1.2.1.2-.1.3-.2.5-.4.5z" fill="#6DC9C9" fill-rule="nonzero"></path>
            </svg>

            
            <div class="ml-4">
              <span class="block font-heading text-lg leading-tight text-navy">How much does counselling cost?</span>
              <span class="block text-pink text-sm tracking-wide">Click to find out</span>
            </div>
          </a>
        </div>
    </div>
</section>

<section class="px-4 pb-8 mb-8">
  <div class="wrapper">
    <article class="cms-content [ mb-8 max-w-lg ]">
      <p>As integrative counsellors we offer different approaches depending on specific client need, and are fully trained in person-centred (humanism), cognitive behavioural therapy and psychodynamic approaches. We hope to provide you with a secure, confidential and non-judgmental space, where you can make sense of why you are feeling the way you do, and develop more awareness of your experiences. Coming for counselling can be a big decision for you, but we hope that our counsellors will be able to journey with you and help you to bring about positive change and growth as you move forward. We are very passionate about our therapeutic work, and continue to attend training and be updated on new therapeutic interventions, so that we can provide you with a highly professional and ethical service in the north coast area.</p>
    </article>
    <div
      class="bg-white shadow border border-gray-light rounded-lg overflow-hidden"
    >
      <span
        class="block font-base-semibold text-sm bg-navy text-white uppercase tracking-wide border-b-2 border-green p-4"
        >Castle Counselling Services can help with:</span
      >

      <ul class="ccs-list [ list-reset ][ md:flex md:flex-wrap ]">
        {% for item in services %}
        <li
          class="border-b border-gray-light flex items-center justify-between [ md:w-1/2 ][ lg:w-1/3 ]"
        >
          <a
            href="/{{ item.uri }}"
            class="[ block flex items-center justify-between w-full ] [ no-underline text-gray hover:text-green ][ p-4 ]"
          >
            <span>{{ item.title }}</span>
            <svg
              class="flex-no-shrink ml-4"
              style="height: 13px; width: 13px"
              viewBox="0 0 13 13"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Arrow Right Icon</title>
              <path
                d="M12.128 3.237A6.473 6.473 0 0 0 9.763.872 6.358 6.358 0 0 0 6.5 0C5.32 0 4.233.29 3.237.872A6.471 6.471 0 0 0 .872 3.237 6.358 6.358 0 0 0 0 6.5c0 1.18.29 2.267.872 3.263a6.473 6.473 0 0 0 2.365 2.365A6.359 6.359 0 0 0 6.5 13c1.18 0 2.267-.29 3.263-.872a6.471 6.471 0 0 0 2.365-2.365A6.36 6.36 0 0 0 13 6.5a6.36 6.36 0 0 0-.872-3.263zM9.911 6.881l-3.843 3.842a.52.52 0 0 1-.38.161.52.52 0 0 1-.381-.16l-.864-.864a.52.52 0 0 1-.16-.381.52.52 0 0 1 .16-.38L7.042 6.5 4.443 3.902a.52.52 0 0 1-.16-.381.52.52 0 0 1 .16-.381l.864-.864a.52.52 0 0 1 .38-.16.52.52 0 0 1 .381.16L9.911 6.12a.52.52 0 0 1 .16.38.52.52 0 0 1-.16.382z"
                fill="#6DC9C9"
                fill-rule="nonzero"
              />
            </svg>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{# Should be an include #}

<section class="px-4 pb-8 mb-4">
	<div class="wrapper">
		<a href="/get-in-touch" class="[ block no-underline ][ text-center md:text-left ][ p-8 ][ bg-navy opacity-99 rounded-lg ][ sm:flex sm:items-center md:justify-between ]">
    	<span class="[ block ][ font-base-semibold text-center text-white leading-none tracking-wide [ text-2xl md:text-4xl ] ]">Book your counselling session today</span>
			<span class="button button-green [ inline-block relative px-8 py-2 ][ rounded-full ][ font-base-semibold ][ no-underline ][ bg-green hover:bg-green-dark ][ text-white ][ mt-6 [ sm:mt-0 ] ]">Get in Touch</span>
		</a>
  </div>
</section>

{# Should be an include #}

<section class="px-4 py-8">
	<div class="wrapper">
		<h2 class="[ font-heading leading-tight text-navy ][ text-blue text-3xl mb-4 ]">Who can help you?</h2>
		<p>Counselling services in the North Coast Causeway area of Northern Ireland, we can offer you an initial telephone consultation for 15/20 minutes free of charge for you to discuss the reason you are seeking counselling.</p>
		
		<div class="sm:flex sm:justify-between">
			<figure class="[ md:flex-1 ][ bg-white border-t border-sold border-gray-light ][ shadow ][ mt-8 ][ rounded-lg overflow-hidden ][ md:mr-8 ]">
				<img src="/assets/images/louise-o-kane.jpeg" class="block" alt="Profile photo of Louise O'Kane">
				<figcaption>
					<header class="[ flex items-end justify-between ][ bg-navy border-b border-solid border-gray-light ][ p-4 ]">
						<div>
							<p class="[ font-heading leading-tight ][ text-white text-lg ]">Louise O'Kane</p>
							<p class="text-green">Integrative Counsellor</p>
						</div>

						<a href="/therapists/louise-okane" class="[ block font-base-semibold ][ border-b border-green ][ text-white hover:text-green ][ no-underline ]">View Profile</a>
					</header>
					
					<div class="p-4">
						<p>My name is Louise and I am a fully qualified professional integrative counsellor. My therapy base is…</p>
			
						<nav class="pt-2">
							<a href="tel:07715926144" class="flex items-center [ no-underline ][ mt-4 ]">
								<svg width="20" height="20" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
									<title>Call Icon</title>
									<path d="M21.702 0C9.717 0 0 9.717 0 21.702c0 11.984 9.717 21.701 21.702 21.701 11.984 0 21.701-9.717 21.701-21.701C43.403 9.717 33.686 0 21.702 0zm11.46 31.665l-1.738 1.738c-.31.31-1.218.503-1.248.503a20.507 20.507 0 0 1-14.678-6 20.532 20.532 0 0 1-6.004-14.73c0-.002.2-.884.51-1.191l1.737-1.738c.636-.639 1.857-.927 2.713-.641l.365.122c.853.286 1.749 1.23 1.985 2.098l.874 3.208c.235.872-.082 2.112-.718 2.747l-1.16 1.16a12.324 12.324 0 0 0 8.665 8.669l1.16-1.16c.639-.64 1.878-.957 2.748-.722l3.207.877c.87.24 1.813 1.13 2.099 1.982l.122.37c.283.854-.003 2.075-.64 2.708z" fill="#6DC9C9" fill-rule="nonzero"></path>
								</svg>
								<span class="[ text-gray hover:text-green ][ ml-2 ]">07715926144</span>
							</a>
							<a href="mail:louise.counsellingservices@gmail.com" class="flex items-center [ no-underline ][ mt-4 ]">
								<svg width="20" height="20" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
									<title>Call Icon</title>
									<path d="M21.702 0C9.717 0 0 9.717 0 21.702c0 11.984 9.717 21.701 21.702 21.701 11.984 0 21.701-9.717 21.701-21.701C43.403 9.717 33.686 0 21.702 0zm11.46 31.665l-1.738 1.738c-.31.31-1.218.503-1.248.503a20.507 20.507 0 0 1-14.678-6 20.532 20.532 0 0 1-6.004-14.73c0-.002.2-.884.51-1.191l1.737-1.738c.636-.639 1.857-.927 2.713-.641l.365.122c.853.286 1.749 1.23 1.985 2.098l.874 3.208c.235.872-.082 2.112-.718 2.747l-1.16 1.16a12.324 12.324 0 0 0 8.665 8.669l1.16-1.16c.639-.64 1.878-.957 2.748-.722l3.207.877c.87.24 1.813 1.13 2.099 1.982l.122.37c.283.854-.003 2.075-.64 2.708z" fill="#6DC9C9" fill-rule="nonzero"></path>
								</svg>

								<span class="[ text-gray hover:text-green ][ ml-2 ]">louise.counsellingservices@gmail.com</span>
							</a>
						</nav>
					</div> 
				</figcaption>
			</figure>
			
			<figure class="[ md:flex-1 ][ bg-white border-t border-sold border-gray-light ][ shadow ][ mt-8 ][ rounded-lg overflow-hidden ][ md:ml-8 ]">
				<img src="/assets/images/monica-o-neil.jpeg" class="block" alt="Profile photo of Monica O'Neill">
				<figcaption>
					<header class="[ flex items-end justify-between ][ bg-navy border-b border-solid border-gray-light ][ p-4 ]">
						<div>
							<p class="[ font-heading leading-tight ][ text-white text-lg ]">Monica O'Neill</p>
							<p class="text-green">Integrative Counsellor</p>
						</div>

						<a href="/therapists/monica-oneill" class="[ block font-base-semibold ][ border-b border-green ][ text-white hover:text-green ][ no-underline ]">View Profile</a>
					</header>
	
					<div class="p-4">
						<p>I am a professional, qualified, integrative counsellor providing a counselling service and I am base…</p>
							
						<nav class="pt-2">
							<a href="tel:07513216489" class="flex items-center [ no-underline ][ mt-4 ]">
								<svg width="20" height="20" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
									<title>Call Icon</title>
									<path d="M21.702 0C9.717 0 0 9.717 0 21.702c0 11.984 9.717 21.701 21.702 21.701 11.984 0 21.701-9.717 21.701-21.701C43.403 9.717 33.686 0 21.702 0zm11.46 31.665l-1.738 1.738c-.31.31-1.218.503-1.248.503a20.507 20.507 0 0 1-14.678-6 20.532 20.532 0 0 1-6.004-14.73c0-.002.2-.884.51-1.191l1.737-1.738c.636-.639 1.857-.927 2.713-.641l.365.122c.853.286 1.749 1.23 1.985 2.098l.874 3.208c.235.872-.082 2.112-.718 2.747l-1.16 1.16a12.324 12.324 0 0 0 8.665 8.669l1.16-1.16c.639-.64 1.878-.957 2.748-.722l3.207.877c.87.24 1.813 1.13 2.099 1.982l.122.37c.283.854-.003 2.075-.64 2.708z" fill="#6DC9C9" fill-rule="nonzero"></path>
								</svg>
								<span class="[ text-gray hover:text-green ][ ml-2 ]">07513216489</span>
							</a>

							<a href="mail:monica.castlecounselling@gmail.com" class="flex items-center [ no-underline ][ mt-4 ]">
								<svg width="20" height="20" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
									<title>Call Icon</title>
									<path d="M21.702 0C9.717 0 0 9.717 0 21.702c0 11.984 9.717 21.701 21.702 21.701 11.984 0 21.701-9.717 21.701-21.701C43.403 9.717 33.686 0 21.702 0zm11.46 31.665l-1.738 1.738c-.31.31-1.218.503-1.248.503a20.507 20.507 0 0 1-14.678-6 20.532 20.532 0 0 1-6.004-14.73c0-.002.2-.884.51-1.191l1.737-1.738c.636-.639 1.857-.927 2.713-.641l.365.122c.853.286 1.749 1.23 1.985 2.098l.874 3.208c.235.872-.082 2.112-.718 2.747l-1.16 1.16a12.324 12.324 0 0 0 8.665 8.669l1.16-1.16c.639-.64 1.878-.957 2.748-.722l3.207.877c.87.24 1.813 1.13 2.099 1.982l.122.37c.283.854-.003 2.075-.64 2.708z" fill="#6DC9C9" fill-rule="nonzero"></path>
								</svg>

								<span class="[ text-gray hover:text-green ][ ml-2 ]">monica.castlecounselling@gmail.com</span>
							</a>
						</nav>
					</div> 
				</figcaption>
			</figure>
		</div>
	</div>
</section>