---
layout: layout.njk
pagination:
    data: services
    size: 1
    alias: service
permalink: "services/{{ service.title | slug }}/"
renderData:
  title: "{{ service.title }}"
---

<section class="hero gradient-light [ px-4 pt-4 pb-8 ][ bg-pink-light bg-cover bg-center bg-no-repeat ]" style="background-image: url('/assets/images/hero/hero-graphic.jpg">
	<div class="wrapper relative z-10">
    <div class="md:pt-2">
			<nav class="mb-8">
				<ul class="list-reset [ sm:flex flex-wrap items-center ]">
					<li class="inline-block sm:inline-flex items-center">
						<a href="/" class="text-gray hover:text-green font-base-semibold text-sm no-underline">Home</a>
						<span class="text-xs [ ml-2 ]">></span>
					</li>

					<li class="inline-block m:inline-flex items-center [ ml-2 ]">
						<a href="/services" class="text-gray hover:text-green font-base-semibold text-sm no-underline">Services</a>
						<span class="text-xs [ ml-2 ]">></span>
					</li>
					
					<li class="block [ sm:ml-2 ] sm:inline-flex items-center">
						<span class="text-green font-base-semibold text-sm">{{ service.title | safe }}</span>
					</li>
				</ul>
			</nav>
            
			<h1 class="font-heading leading-tight text-navy text-4xl max-w-md [ md:text-5xl ]">{{ service.title | safe }}</h1>
            
			<div class="cms-content mt-4 max-w-md">
				{{ service.field_introduction | safe }}
			</div>
		</div>
	</div>
</section>

{# Should be an include #}

<section class="px-4 pb-8 mb-4">
	<div class="wrapper">
		<a href="/get-in-touch" class="[ block no-underline ][ text-center md:text-left ][ p-8 ][ bg-navy opacity-99 rounded-lg ][ sm:flex sm:items-center md:justify-between ]">
    	<span class="[ block ][ font-base-semibold text-center text-white leading-none tracking-wide [ text-2xl md:text-4xl ] ]">Book your counselling session today</span>
			<span class="button button-green [ inline-block relative px-8 py-2 ][ rounded-full ][ font-base-semibold ][ no-underline ][ bg-green hover:bg-green-dark ][ text-white ][ mt-6 [ sm:mt-0 ] ]">Get in Touch</span>
		</a>
  </div>
</section>

<section class="px-4 pb-8">
	<div class="wrapper">
		<article class="cms-content cms-content--two-col [ max-w-lg ]">
			{{ service.field_body | safe }}
		</article>
	</div>
</section>

{# Should be an include #}

<section class="px-4 py-8">
	<div class="wrapper">
		<h2 class="[ font-heading leading-tight text-navy ][ text-blue text-3xl mb-4 ]">Who can help you?</h2>
		<p>Counselling services in the North Coast Causeway area of Northern Ireland, we can offer you an initial telephone consultation for 15/20 minutes free of charge for you to discuss the reason you are seeking counselling.</p>
		
		<div class="sm:flex sm:justify-between">
			{# Should be an include #}
      {% for therapist in therapists %}
        <figure class="[ md:flex-1 ][ bg-white border-t border-sold border-gray-light ][ shadow ][ mt-8 ][ rounded-lg overflow-hidden ][ md:mr-8 ]">
          {% if therapist.slug == 'louise-okane' %}
            <img src="/assets/images/louise-o-kane.jpeg" class="block" alt="Profile photo of Louise O'Kane">
          {% else %}
            <img src="/assets/images/monica-o-neil.jpeg" class="block" alt="Profile photo of Monica O'Neill">
          {% endif %}
          <figcaption>
            <header class="[ flex items-end justify-between ][ bg-navy border-b border-solid border-gray-light ][ p-4 ]">
              <div>
                <p class="[ font-heading leading-tight ][ text-white text-lg ]">{{ therapist.title }}</p>
                <p class="text-green">Integrative Counsellor</p>
              </div>

              <a href="/{{ therapist.uri }}" class="[ block font-base-semibold ][ border-b border-green ][ text-white hover:text-green ][ no-underline ]">View Profile</a>
            </header>
            
            <div class="p-4">
              <nav>
                <a href="tel:{{ therapist.field_telephoneNumber | safe }}" class="flex items-center [ no-underline ][ mt-4 ]">
                  <svg width="20" height="20" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
                    <title>Call Icon</title>
                    <path d="M21.702 0C9.717 0 0 9.717 0 21.702c0 11.984 9.717 21.701 21.702 21.701 11.984 0 21.701-9.717 21.701-21.701C43.403 9.717 33.686 0 21.702 0zm11.46 31.665l-1.738 1.738c-.31.31-1.218.503-1.248.503a20.507 20.507 0 0 1-14.678-6 20.532 20.532 0 0 1-6.004-14.73c0-.002.2-.884.51-1.191l1.737-1.738c.636-.639 1.857-.927 2.713-.641l.365.122c.853.286 1.749 1.23 1.985 2.098l.874 3.208c.235.872-.082 2.112-.718 2.747l-1.16 1.16a12.324 12.324 0 0 0 8.665 8.669l1.16-1.16c.639-.64 1.878-.957 2.748-.722l3.207.877c.87.24 1.813 1.13 2.099 1.982l.122.37c.283.854-.003 2.075-.64 2.708z" fill="#6DC9C9" fill-rule="nonzero"></path>
                  </svg>
                  <span class="[ text-gray hover:text-green ][ ml-2 ]">{{ therapist.field_telephoneNumber | safe }}</span>
                </a>
                <a href="mail:{{ therapist.field_emailAddress | safe }}" class="flex items-center [ no-underline ][ mt-4 ]">
                  <svg width="20" height="20" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
                    <title>Call Icon</title>
                    <path d="M21.702 0C9.717 0 0 9.717 0 21.702c0 11.984 9.717 21.701 21.702 21.701 11.984 0 21.701-9.717 21.701-21.701C43.403 9.717 33.686 0 21.702 0zm11.46 31.665l-1.738 1.738c-.31.31-1.218.503-1.248.503a20.507 20.507 0 0 1-14.678-6 20.532 20.532 0 0 1-6.004-14.73c0-.002.2-.884.51-1.191l1.737-1.738c.636-.639 1.857-.927 2.713-.641l.365.122c.853.286 1.749 1.23 1.985 2.098l.874 3.208c.235.872-.082 2.112-.718 2.747l-1.16 1.16a12.324 12.324 0 0 0 8.665 8.669l1.16-1.16c.639-.64 1.878-.957 2.748-.722l3.207.877c.87.24 1.813 1.13 2.099 1.982l.122.37c.283.854-.003 2.075-.64 2.708z" fill="#6DC9C9" fill-rule="nonzero"></path>
                  </svg>

                  <span class="[ text-gray hover:text-green ][ ml-2 ]">{{ therapist.field_emailAddress | safe }}</span>
                </a>
              </nav>
            </div> 
          </figcaption>
        </figure>
      {% endfor %}
		</div>
	</div>
</section>