---
layout: layout.njk
title: Get in Touch
---

<section class="hero gradient-light [ px-4 pt-4 pb-8 ][ bg-pink-light bg-cover bg-center bg-no-repeat ]" style="background-image: url('/assets/images/hero/hero-graphic.jpg">
  <div class="wrapper [ relative z-10 ]">
    <nav class="my-2">
      <ul class="list-reset [ sm:flex flex-wrap items-center ]">
        <li class="inline-block sm:inline-flex items-center">
          <a href="/" class="text-gray hover:text-green font-base-semibold text-sm no-underline">Home</a>
          <span class="text-xs [ ml-2 ]">&gt;</span>
         </li>

        <li class="block [ sm:ml-2 ] sm:inline-flex items-center">
          <span class="text-green font-base-semibold text-sm">Get in Touch</span>
        </li>
      </ul>
    </nav>
  </div>
  
  <div class="wrapper relative z-10% [ md:flex items-center ]">
    <div class="[ md:flex-1 md:mr-8 ]">
      <h1 class="font-heading leading-tight text-navy text-4xl max-w-md [ md:text-5xl ]">Get in Touch</h1>
      <div class="cms-content mt-4 max-w-md">
        <p>Castle Counselling Services are located in Ballycastle. We offer all our Face-to-Face counselling services from our private rooms.</p>
      </div>
    </div>
    
    <div class="[ my-8 ][ md:flex-1 md:ml-8 ]">
      {% for item in therapists %}

        <div class="[ flex items-center ][ mb-8 ][ bg-white border-b border-gray-light rounded-lg ][ shadow ]">
          {# <img src="/assets/images/louise-o-kane.jpeg" alt="Photo of " class="hidden sm:block rounded-l-lg"> #}
          <div class="p-4 md:p-8">
            <h2 class="font-heading text-xl text-navy">{{ item.title }}</h2>

            <ul class="list-reset [ flex items-center md:block ]">
              <li><a href="tel:{{ item.field_telephoneNumber }}" class="block no-underline text-gray hover:text-pink"><span class="md:hidden">Call {{ item.title }}</span><span class="md:hidden mx-2 md:mr-0">|</span><span class="hidden md:block">{{ item.field_telephoneNumber }}</span></a></li>
              <li><a href="mailto:{{ item.field_emailAddress }}" class="block no-underline text-gray hover:text-pink"><span class="md:hidden">Email {{ item.title }}</span><span class="hidden md:block">{{ item.field_emailAddress }}</span></a></li>
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>